.sidebar {
  width: 200px;
  height: 100vh;
  padding: 1rem;
  background-color: #2b2b2b;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}
