.sidebar {
    width: 200px;
    min-width: 200px;
    flex-shrink: 0;
    height: 100vh;
    padding: 1rem;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.gate-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.draggable-gate {
    user-select: none;
    cursor: grab;
}

.draggable-gate:active {
    cursor: grabbing;
}
