.canvas {
    flex: 1;
    min-width: 0;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    border-left: 2px solid #ccc;
    overflow: hidden;
}

.canvas .gate-on-canvas {
    z-index: 1;
}
